*sqlite3
node_modules
NostrEvents
*sqlite
*.db-shm
*jsonl
*.sqlite-journal
event-data.json
NostrTutorial/ScrapedData
*sqlite3-shm
*sqlite3-wal
.env
*.rsa
*.pub
id_rsa
nostr.json
.DS_Store
docker/blossom-server/data
docker/blossom-server/.env
docker/blossom-server/config.yml
docker/nostr-relay/data