
http://ditto.local {
    reverse_proxy ditto:4036
}

http://khatru.local {
    reverse_proxy khatru:3334
}

http://rsrelay.local {
    reverse_proxy rsrelay:7007
}

http://strfry.local {
    reverse_proxy strfry:7777
}

http://sqlitenode.local {
    reverse_proxy sqlitenode:4869
}

http://piprelay.local {
    reverse_proxy piprelay:6969
}
